@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  @apply bg-base;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}
/* To avoid overflow due to AOS */
html,
body {
  @apply w-screen overflow-x-hidden;
}

/* NAV BAR */
.nav-bar {
  @apply flex content-center justify-between h-12 px-2 py-2 bg-base;
}

#sign {
  width: 7rem;
  height: 3rem;
}

#bottom {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
}

#top {
  stroke-dasharray: 269;
  stroke-dashoffset: 269;
}

#inner {
  stroke-dasharray: 1072;
  stroke-dashoffset: 1072;
}

@media screen {
  #bottom,
  #top,
  #inner {
    animation: sign 4s linear;
    animation-fill-mode: forwards;
  }

  @keyframes sign {
    to {
      stroke-dashoffset: 0;
    }
  }
}
/* NAV MENU */
.nav-menu {
  @apply relative flex justify-center items-center w-8 h-8 rounded-full bg-secondary-accent;
}
.nav-logo {
  @apply bg-base;
  height: fit-content;
}
/* menu lines */
.nav-menu > div {
  @apply relative bg-txt-secondary-accent w-6 transition-all;
  height: 2px;
}
.nav-menu > div::before,
.nav-menu > div::after {
  @apply absolute bg-txt-secondary-accent transition-all;
  content: "";
  width: 1rem;
  height: 2px;
  top: 0.5rem;
  left: 0.25rem;
}
.nav-menu > div::after {
  top: -0.5rem;
}
#menu-check {
  @apply w-full h-full absolute opacity-0 z-10;
}

#menu-check:checked + div {
  transform: rotate(135deg);
}
#menu-check:checked + div::before,
#menu-check:checked + div::after {
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(90deg);
}

#menu-check:checked ~ ul {
  transform: translateX(0);
}
/* menu list */
.nav-list {
  @apply fixed right-0 top-12 bottom-0 w-full z-50 overflow-y-scroll flex flex-col justify-center items-center transition-all bg-primary text-txt-primary;
  transform: translateX(100%);
}
.nav-menu-item {
  @apply rounded-md w-max m-4 font-medium text-2xl hover:border-opacity-100 border-opacity-0 border-txt-primary border-solid border-b-2;
}
.nav-menu-item.active {
  @apply border-opacity-100;
}
/* NAV RESPONSIVE  */
@media only screen and (min-width: 750px) {
  .nav-bar {
    @apply border-b-2 border-primary pl-0;
  }
  #menu-check {
    @apply hidden;
  }
  .nav-menu {
    @apply bg-base rounded-none w-max text-txt-base;
  }
  .nav-menu > div {
    @apply hidden;
  }
  .nav-list {
    @apply static transform-none flex-row bg-base;
  }
  .nav-menu-item {
    @apply text-base text-txt-base border-none m-0 px-8 py-1;
  }
  .nav-menu-item:hover {
    @apply bg-primary text-txt-primary;
  }
  .nav-menu-item.active {
    @apply bg-primary text-txt-primary rounded-md;
  }
}
@media only screen and (min-width: 1200px) {
  .nav-menu-item a {
    @apply text-xl;
  }
  #sign {
    width: 16vw;
    height: 6vw;
  }
}
/* UTILS */
.btn {
  @apply rounded-full p-2 hover:bg-primary hover:text-secondary border-secondary border-solid bg-secondary text-txt-secondary;
  border-width: 1px;
}
.section {
  @apply mx-4 my-24;
}
.section-blue {
  @apply m-0;
}
p br {
  @apply my-4;
}
.section-header {
  @apply mx-auto w-min whitespace-nowrap mb-4;
}

/* LANDING PAGE */
.img-bg {
  z-index: -1;
  @apply overflow-hidden absolute top-0 right-0;
}

h1 {
  @apply text-4xl font-semibold;
}
h2 {
  @apply text-3xl font-semibold;
}
h4 {
  @apply font-extralight text-3xl;
}
h6 {
  @apply font-semibold text-xl;
}
.CTA {
  @apply cursor-pointer py-1 px-2 rounded-md border-secondary-accent border-2 hover:bg-base hover:text-txt-base bg-secondary-accent text-txt-secondary-accent;
  --shadow-size: 5px;
  box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px
    rgba(168, 218, 220, 1);
  -webkit-box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px
    rgba(168, 218, 220, 1);
  -moz-box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px
    rgba(168, 218, 220, 1);
}
.CTA-primary {
  @apply cursor-pointer py-1 px-2 rounded-md border-primary-accent border-2 hover:bg-primary hover:text-txt-primary-accent bg-primary-accent text-txt-secondary-accent;
  --shadow-size: 5px;
  --shadow-color: #ff8811;
  box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px var(--shadow-color);
  -webkit-box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px
    var(--shadow-color);
  -moz-box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px
    var(--shadow-color);
}
.slide-img {
  height: 300px;
  width: 175px;
  @apply mx-2 inline-block;
}
.separator {
  @apply w-screen;
}
.section-blue {
  @apply bg-primary text-txt-primary;
}
@media only screen and (min-width: 850px) {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h4 {
    @apply text-4xl;
  }
  h6 {
    @apply text-2xl;
  }
  p {
    @apply text-xl font-extralight;
  }
  .CTA {
    @apply py-2 px-4;
  }
  .section-header {
    @apply mb-12;
  }
}
@media only screen and (min-width: 635px) {
}
/* INDEX */
.hero {
  @apply mb-24 relative flex flex-col items-end overflow-hidden;
  min-height: 32rem;
}
.hero-content {
  @apply flex flex-col ml-4 self-center;
}
.hero-header {
  @apply mt-8 w-1/2 z-10;
  text-shadow: 4px 2px 8px black;
}
.hero-img {
  @apply absolute -bottom-4 right-0 left-1/4;
}
.hero-btn {
  @apply w-max self-center mt-10 z-10;
}
.hero-wave {
  @apply absolute top-8;
  right: -186px;
  z-index: -1;
}
@media only screen and (min-width: 365px) {
  .hero-img {
    top: 5%;
  }
}
@media only screen and (min-width: 461px) {
  .hero {
    min-height: 41rem;
  }
  .hero-header {
    margin-top: 15%;
  }
  /* the img container needs to be positioned */
  .hero-img {
    width: 72%;
    left: 31%;
    top: auto;
    bottom: 10%;
    transform: translateX(0rem);
  }
  .hero-content {
  }
  .hero-btn {
    @apply w-max self-start mt-10 z-10;
  }
}
@media only screen and (min-width: 547px) {
  .hero-content {
  }
  .hero-img {
    @apply left-auto;
    width: 50%;
  }
}
@media only screen and (min-width: 850px) {
  .hero {
    @apply block px-16 mx-auto;
    max-width: 1100px;
  }
  .hero-img {
    width: 45%;
  }
  .hero-content {
  }
  .hero-header {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 1100px) {
  .hero-wave {
    @apply right-0;
  }
  .hero-img {
    @apply bottom-0;
  }
}

/* SUMMARY */

.summary {
  @apply mx-4 text-center;
  max-width: 50rem;
}

/* BENEFITS */
.bnft-container {
  @apply mb-16;
}
.bnft-title {
  @apply text-center justify-items-center text-primary w-2/3 mx-auto;
}
.bnft-ex {
  @apply relative  mx-auto mt-4;
  height: 67vw;
}
.bnft-text {
  @apply rounded-md max-w-lg mx-auto mt-2 border-2 border-primary text-txt-base p-2 text-center justify-center;
}
.bnft-btn {
  @apply mt-4 table m-auto;
}

@media only screen and (min-width: 700px) {
  .bnft-btn {
    @apply mt-4 m-0 inline;
  }
  .bnft-text {
  }
  .bnft-ex {
    @apply absolute -right-full w-1/2 top-0 px-4 pr-8;
    width: 100%;
    min-height: 336px;
    height: 100%;
  }
  .bnft-title {
    @apply font-medium;
  }
  .bnft-container {
    @apply relative w-1/2  flex flex-col justify-center items-center p-4;
    min-height: 336px;
  }
}
@media only screen and (min-width: 1150px) {
  .bnft-ex {
    height: 90vh;
  }
  .bnft-container {
    height: 90vh;
  }
}
/* TECH STACK */
.tech-stack {
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
}
.tech-stack > div {
  @apply m-2;
}
.technology {
  @apply transition-all;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15% 30%;
  position: relative;
}
.technology > span {
  @apply max-h-0 w-full bg-base text-txt-base  overflow-hidden absolute -bottom-6 text-center;
  z-index: 99;
  font-family: inherit;
}
.technology:hover {
  transform: scale(125%, 125%);
  z-index: 999;
}
.technology:hover > span {
  @apply max-h-8 border-2 border-t-0;
}
.technology > svg,
.technology > i {
  width: 100%;
  height: 100%;
}
/* SERVICES */
.services-section {
}
.service {
  @apply mb-16;
}
.service-title {
  @apply text-center justify-items-center text-primary w-2/3 mx-auto;
}
.service-text {
  @apply rounded-md max-w-lg mx-auto mt-2 border-2 border-primary text-txt-base p-2 text-center justify-center;
}
.service-btn {
  @apply mt-4 table m-auto;
}
@media only screen and (min-width: 700px) {
  .services {
    @apply grid grid-cols-2 grid-rows-1 gap-y-8;
  }
  .service {
    @apply m-4 flex flex-col;
  }
  .service-text {
    @apply flex-grow text-center;
  }
  .service:last-child {
    @apply col-start-1 col-end-3;
  }
}

/* WORKS */
.work-container {
  @apply mb-16;
}
.work-title {
  @apply text-primary-accent mx-8;
}
.work-keypoints-list {
  @apply mx-12;
}
.work-keypoint {
  @apply list-disc list-inside text-txt-base font-extralight;
}
.work-ex {
  @apply mx-auto my-4;
  width: 75vw;
  height: 75vw;
}
.work-ex img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: scale-down;
}
.work-btn {
}

@media only screen and (min-width: 700px) {
  .work-container {
    @apply relative w-1/2 flex flex-col justify-items-center items-center;
    min-height: 336px;
  }
  .work-ex {
    @apply absolute -right-full top-0 h-full w-full;
  }
}
/* MOBILE FOOTER */
.footer-nav {
  @apply overflow-hidden;
}
.footer-item {
  @apply p-2 font-semibold text-txt-primary flex-grow text-center hover:to-base;
}
@media only screen and (min-width: 600px) {
  .footer-nav {
    display: none;
  }
}
/* FAQ */
.faq-icon {
  width: 1.25rem;
  height: 1.25rem;
  @apply text-primary transition-all;
}

.faq-active {
  transform: rotate(180deg);
}

/* CONTACT */
.contact-base {
  @apply fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 999999;
}
.contact-item {
  @apply flex justify-center mb-2 w-full;
}

.contact-item a {
  @apply ml-2 w-max;
}

.contact-item svg {
  @apply text-txt-secondary fill-current w-8 h-8;
}

/* ABOUT */
.about {
  @apply text-txt-base max-w-5xl mx-auto mt-12;
}
.about-sidebar {
  @apply fixed left-0 flex;
}
.sidebar-scroll {
  @apply ml-8 mr-2;
  height: 75vh;
  width: 20px;
}
.scroll-inner {
}
.about-image {
  @apply float-right relative;
  width: 400px;
  height: 520px;
}
.about-image img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}
.books-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.book-item {
  @apply p-2 bg-secondary text-txt-secondary flex flex-col transition-all;
}
.book-item > h6 {
  @apply max-h-0 overflow-hidden;
}
.book-item:hover {
  transform: scale(125%, 125%);
}
.book-item:hover > h6 {
  @apply max-h-10;
}
.strenghts > h4 {
  @apply mb-2 mt-8 text-primary;
}
.about-subheader {
  @apply mt-16 mb-0;
}
@media only screen and (max-width: 650px) {
  .about-image {
    width: 200px;
    height: 300px;
  }
  .strenghts > h4 {
    @apply my-2;
  }
}
@media only screen and (max-width: 480px) {
  .about-image {
    width: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .about-sidebar {
    display: none;
  }
}
/* EXPECTATIONS */
.separator-dark-to-ligth {
  @apply w-screen;
}
.expectations-container {
  @apply flex flex-col justify-center items-center;
}
.expectation {
  @apply flex flex-col  items-center h-full justify-between;
}
.expectation svg {
  @apply mx-auto;
}
.expectations-subtitle {
  @apply mx-auto mb-8;
  max-width: 400px;
}
.expectation-title {
  @apply mx-auto text-center;
}
@media (min-width: 764px) {
  .expectations-subtitle {
    @apply mb-12;
  }
  .expectations-container {
    @apply grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
/* CTAs SECTION */
.CTAs-section {
  @apply bg-primary text-txt-primary flex flex-col justify-center items-center py-8;
}
.CTAs-section h4 {
  @apply my-4;
}
.CTAs-section button {
  @apply mb-12;
}
/* FOOTER */
.main-footer {
  @apply bg-primary  bottom-0 w-screen hidden;
  height: fit-content;
  z-index: 999;
}
.social-icon {
  @apply text-txt-primary w-10 h-10 text-center text-4xl;
}
.social-icon i {
  @apply w-full h-full;
}
.social-icons-container {
  @apply flex justify-between items-center w-max mx-auto;
}

@media only screen and (min-width: 600px) {
  .main-footer {
    @apply bottom-10 block;
  }
}
/* BLOGS */
.blog {
  max-width: 14rem;
}
.blogs__container {
  @apply flex justify-center;
}
