@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

body {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  @apply bg-base;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}
/* To avoid overflow due to AOS */
html {
  @apply w-screen overflow-x-hidden;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  display: none;
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-base;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-primary shadow-inner;
}

/* NAV BAR */
.nav-bar {
  @apply flex content-center justify-between h-12 px-2 py-2 bg-base;
}

#sign {
  width: 7rem;
  height: 3rem;
}

#bottom {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
}

#top {
  stroke-dasharray: 269;
  stroke-dashoffset: 269;
}

#inner {
  stroke-dasharray: 1072;
  stroke-dashoffset: 1072;
}

@media screen {
  #bottom,
  #top,
  #inner {
    animation: sign 4s linear;
    animation-fill-mode: forwards;
  }

  @keyframes sign {
    to {
      stroke-dashoffset: 0;
    }
  }
}
/* NAV MENU */
.nav-menu {
  @apply relative flex justify-center items-center w-8 h-8 rounded-full bg-primary;
}

/* menu lines */
.nav-menu > div {
  @apply relative bg-txt-primary w-6 transition-all;
  height: 2px;
}
.nav-menu > div::before,
.nav-menu > div::after {
  @apply absolute bg-txt-primary transition-all;
  content: "";
  width: 1rem;
  height: 2px;
  top: 0.5rem;
  left: 0.25rem;
}
.nav-menu > div::after {
  top: -0.5rem;
}
#menu-check {
  @apply w-full h-full absolute opacity-0 z-10;
}

#menu-check:checked + div {
  transform: rotate(135deg);
}
#menu-check:checked + div::before,
#menu-check:checked + div::after {
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(90deg);
}

#menu-check:checked ~ ul {
  transform: translateX(0);
}
/* menu list */
.nav-list {
  @apply fixed right-0 top-12 bottom-0 w-full z-50 overflow-y-scroll flex flex-col justify-center items-center transition-all bg-primary text-txt-primary;
  transform: translateX(100%);
}
.nav-menu-item {
  @apply w-max m-4 font-medium text-2xl hover:border-opacity-100 border-opacity-0 border-txt-base border-solid border-b-2;
}

/* NAV RESPONSIVE  */
@media only screen and (min-width: 750px) {
  #menu-check {
    @apply hidden;
  }
  .nav-menu {
    @apply bg-base rounded-none w-max text-txt-base;
  }
  .nav-menu > div {
    @apply hidden;
  }
  .nav-list {
    @apply static transform-none flex-row bg-base;
  }
  .nav-menu-item {
    @apply text-base text-txt-base border-none px-2 py-1;
  }
  .nav-menu-item:hover {
    @apply bg-primary text-txt-primary;
  }
  .nav-menu-item.active {
    @apply bg-primary text-txt-primary;
  }
}
@media only screen and (min-width: 1200px) {
  .nav-menu-item a {
    @apply text-xl;
  }
  #sign {
    width: 16vw;
    height: 6vw;
  }
}
/* UTILS */
.btn {
  @apply rounded-full p-2 hover:bg-primary hover:text-secondary border-secondary border-solid bg-secondary text-txt-secondary;
  border-width: 1px;
}
.section {
  @apply mx-4 my-24;
}

/* LANDING PAGE */
.img-bg {
  z-index: -1;
  @apply overflow-hidden absolute top-0 right-0;
}

h1 {
  @apply text-3xl font-semibold;
}
h2 {
  @apply text-4xl font-semibold;
}
h4 {
  @apply text-3xl;
}
h6 {
  @apply font-semibold text-xl;
}
.CTA {
  @apply cursor-pointer py-1 px-2 border-txt-primary hover:skew-x-3 bg-primary text-txt-primary;
}
.slide-img {
  height: 300px;
  width: 175px;
  @apply mx-2 inline-block;
}
@media only screen and (min-width: 850px) {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h4 {
    @apply text-4xl;
  }
  h6 {
    @apply text-2xl;
  }
  p {
    @apply text-xl;
  }
  .CTA {
    @apply py-2 px-4;
  }
}
@media only screen and (min-width: 635px) {
}
/* INDEX */
.hero {
  @apply mx-4 mb-24 relative flex flex-col justify-end items-end overflow-hidden;
  min-height: max-content;
}
.hero-header {
  @apply mt-8 w-1/2 z-10;
  text-shadow: 4px 2px 8px black;
}
.hero-img {
  @apply absolute top-0 right-0 left-1/4 bottom-1/4;
  transform: translateX(3rem);
}
.hero-content {
  @apply flex flex-col;
}
.hero-btn {
  @apply w-max self-center mt-10 z-10;
}

@media only screen and (min-width: 635px) {
  .hero-header {
    margin-top: 15%;
  }
}
@media only screen and (min-width: 850px) {
  .hero {
    @apply mx-auto w-3/4;
    min-height: 551px;
  }
  .hero-img {
    @apply relative;
  }
  .hero-content {
    @apply flex flex-col;
  }
  .hero-btn {
  }
  .hero-header {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 500px) {
  .hero {
    @apply mx-4 mb-24 relative flex flex-col justify-end items-end overflow-hidden;
    min-height: max-content;
  }
  .hero-header {
    @apply mt-8;
    text-shadow: 4px 2px 8px black;
  }
  .hero-img {
    @apply w-3/4 overflow-hidden;
    transform: translateX(3rem);
  }
  .hero-content {
    @apply absolute top-0 left-0;
  }
  .hero-btn {
    @apply w-max self-start mt-10 z-10;
  }
}
/* BENEFITS */
.bnft-container {
  @apply mb-16;
}
.bnft-title {
  @apply text-center justify-items-center text-primary w-2/3 mx-auto;
}
.bnft-ex {
  @apply relative  mx-auto mt-4;
  height: 67vw;
}
.bnft-text {
  @apply max-w-lg mx-auto mt-2 border-2 border-primary text-txt-base p-2 text-center justify-center;
}
.bnft-btn {
  @apply mt-4 table m-auto;
}

@media only screen and (min-width: 700px) {
  .bnft-btn {
    @apply mt-4 m-0 inline;
  }
  .bnft-text {
  }
  .bnft-ex {
    @apply absolute -right-full w-1/2 top-0 px-4 pr-8;
    width: 100%;
    min-height: 336px;
    height: 100%;
  }
  .bnft-title {
    @apply font-medium;
  }
  .bnft-container {
    @apply relative w-1/2  flex flex-col justify-center items-center p-4;
    min-height: 336px;
  }
}
@media only screen and (min-width: 1150px) {
  .bnft-ex {
    height: 90vh;
  }
  .bnft-container {
    height: 90vh;
  }
}
/* SERVICES */
.services-section {
}
.service {
  @apply mb-16;
}
.service-title {
  @apply text-center justify-items-center text-primary w-2/3 mx-auto;
}
.service-text {
  @apply max-w-lg mx-auto mt-2 border-2 border-primary text-txt-base p-2 text-center justify-center;
}
.service-btn {
  @apply mt-4 table m-auto;
}
@media only screen and (min-width: 700px) {
  .services {
    @apply grid grid-cols-2 grid-rows-1 gap-y-8;
  }
  .service {
    @apply m-4 flex flex-col;
  }
  .service-text {
    @apply flex-grow text-center;
  }
  .service:last-child {
    @apply col-start-1 col-end-3;
  }
}

/* WORKS */
.work-container {
  @apply mb-16;
}
.work-title {
  @apply text-primary mx-8;
}
.work-keypoints-list {
  @apply mx-12;
}
.work-keypoint {
  @apply list-disc list-inside text-txt-base;
}
.work-ex {
  @apply mx-auto my-4;
  width: 75vw;
  height: 75vw;
}
.work-btn {
  @apply mt-4 mx-auto table;
}

@media only screen and (min-width: 700px) {
  .work-container {
    @apply relative w-1/2 flex flex-col justify-items-center items-center;
    min-height: 336px;
  }
  .work-ex {
    @apply absolute -right-full top-0 h-full w-full;
  }
}
/* FOOTER */
.footer-nav {
  @apply overflow-hidden;
}
.footer-item {
  @apply p-2 font-semibold flex-grow text-center hover:to-base;
}
@media only screen and (min-width: 600px) {
  .footer-nav {
    display: none;
  }
}
/* FAQ */
.faq-icon {
  width: 1.25rem;
  height: 1.25rem;
  @apply text-primary transition-all;
}

.faq-active {
  transform: rotate(180deg);
}
